[2022-01-09 20:12] NetanelBasal opened #1 "Locales Support"
### Description

Add locales support

### Proposed solution

Generate data via google translate?

### Alternatives considered

?

### Do you want to create a pull request?

No

[2022-01-09 20:14] NetanelBasal opened #2 "Date Functions"
### Description

Add the following functions:

- past
- future
- between
- recent
- soon
- month
- weekday

### Proposed solution

Use date-fns

### Alternatives considered

No

### Do you want to create a pull request?

No

[2022-01-09 20:17] NetanelBasal opened #3 "Data Optimization"
### Description

We can minimize the bundle size by using existing functions in other helpers. For example:

[code]

### Proposed solution

...

### Alternatives considered

No

### Do you want to create a pull request?

No

[2022-01-09 20:44] geromegrignon commented on #2
Please assign me this issue.

[2022-01-10 08:21] theryansmee commented on #3
Would it also be useful to have a way of ensuring you don't get the same name twice in a test?

Maybe we could do something like make FindName a class, then when a name is return it is then removed from the array? _(This would get trickier with `firstName() + lastName()` stuff)_

[2022-01-10 09:07] shhdharmen commented on #1
I can check this.

[2022-01-10 09:15] theryansmee opened #4 "Randomly generate RGB values"
### Description

Instead of having an array of static RGB values, we could generate them on the fly.

(I'd be happy to do the work, i've just never contributed to an open source project before so i'm not sure on the etiquette)

### Proposed solution

[code]

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-10 09:21] NetanelBasal commented on #4
Sounds good. Google on how to contribute to a project ( fork ). Change the code, stage the files, run `yarn c`, answer the questions and open a PR.

[2022-01-10 09:23] theryansmee commented on #4
I will do 😊

[2022-01-10 16:58] #4 closed

[2022-01-10 20:08] Technologeek opened #7 "List of Programming Languages?"
### Description

Will there be any interest in adding a list of programming languages?

### Proposed solution

* Add List of Programming languages

### Alternatives considered

No

### Do you want to create a pull request?

Yes

[2022-01-10 20:09] NetanelBasal commented on #7
Sure, why not :)

[2022-01-10 20:10] Technologeek commented on #7
Thanks can you assign this to me I will have a PR soon!

[2022-01-10 20:11] NetanelBasal commented on #3
I think we can introduce something like `uniqe(firstName)`

[2022-01-10 20:16] iamandrewluca opened #8 "Seeded random number generator instead of Math.random"
### Description

Right now `falso` generator is nondeterministic.
Using it in some snapshot tests will make tests always fail.

### Proposed solution

Add a way to set a starting seed number for random number generator

Proposed API

[code]

https://github.com/davidbau/seedrandom
https://unpkg.com/browse/faker@5.5.3/lib/random.js

### Alternatives considered

_No response_

### Do you want to crea

[2022-01-10 20:17] NetanelBasal commented on #8
It's all yours

[2022-01-10 20:39] NetanelBasal opened #9 "Auto generate docs"
### Description

Use tool like https://typedoc.org/ to auto-generate our docs

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-10 20:55] matheusnascgomes opened #10 "Random and unique UUID instead of static list"
### Description

Considering that UUID generally are used as identifiers, having a static list tends to me a problem sometime.

### Proposed solution

Generate UUID with some specific script or library to reduce chances of having duplicate identifiers

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-10 20:56] NetanelBasal commented on #10
Sure :)

[2022-01-10 21:02] raisiqueira opened #11 "Random hex and RGBA color generator"
### Description

Add support to generate hexadecimal and RGBA color generator.

### Proposed solution

Generate a random color with hexadecimal or RGBA utility.

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-10 21:03] NetanelBasal commented on #11
Thanks

[2022-01-10 21:05] theryansmee commented on #11
@raisiqueira would it be worth passing an alpha param to the rgb function with default of false?

Most of the logic will be same other than the alpha

[2022-01-10 21:06] NetanelBasal commented on #11
Yes, makes sense to me. `rgb(alpha = false)`

[2022-01-11 07:43] geromegrignon opened #13 "Add CI for testing"
### Description

As tests are added to the project, it would be great to automate testing on push/pr git events.

### Proposed solution

Create a GitHub Action.

I can add it before creating a PR for #2 as more tests will be introduced.

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-11 08:01] NetanelBasal commented on #13
Sure

[2022-01-11 08:42] NetanelBasal opened #14 "Allow an array instead of a single value"
### Description

Currently, each function returns a single value. We should give the option to return an array of values.

### Proposed solution

Create a proxy function and use it in each one of the function generators:

[code]

[code]

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-11 09:50] theryansmee opened #15 "Add lorem ipsum type text block with character count"
### Description

It would be good to be able to determine a character count for a block of text. This could be super useful for testing max/min validation on inputs

### Proposed solution

We could either update an existing function to take an optional `characterCount` param (maybe `text` or `words`). Or we could create a new function entirely?

E.G
[code]

### Alternatives considered

_No respons

[2022-01-11 10:35] NetanelBasal commented on #15
Yes, we can do `text({ characterCount: number })`

[2022-01-11 10:35] NetanelBasal commented on #11
@raisiqueira please do `rgb({ alpha: boolean })`

[2022-01-11 10:39] theryansmee commented on #15
Ok cool. If you assigned this to me, i'll get that implemented

[2022-01-11 11:59] robingenz opened #16 "SyntaxError: Unexpected token 'export'"
### Is this a regression?

No

### Description

I would like to use this library in NodeJS. Unfortunately, I get an error message (see below) when I run the following code:

[code]

### Please provide a link to a minimal reproduction of the bug

https://stackblitz.com/edit/node-q73wut?file=index.ts

### Please provide the exception or error you saw

[code]
[code]
[code]

[2022-01-11 12:00] NetanelBasal commented on #16
We need to build a cjs version. I'll do it asap.

[2022-01-11 12:01] NetanelBasal commented on #16
You can use the esm version with Node in the meantime. https://nodejs.org/api/esm.html

[2022-01-11 12:05] robingenz commented on #16
That was fast! Thank you very much! 😄

[2022-01-11 12:46] raisiqueira commented on #11
@NetanelBasal @theryansmee The alpha could be a number, like `rgb(255, 1, 180, 1)` or `rgb(255, 1, 180, .2)`;

[2022-01-11 12:55] NetanelBasal commented on #11
Yes, my bad.

[2022-01-11 14:38] mfulton26 opened #20 "randomNumber/int/Float: min/max"
### Description

I'd like to be able to get a random number (int or float) between a lower (inclusive) and an upper (exclusive) bound or something similar.

### Proposed solution

- possibly deprecate/rename `randomNumber` to `randomInt`
- add optional arguments to `randomNumber`/`randomInt` and to `randomFloat` to accept an inclusive minimum and an exclusive maximum
- update them to return values

[2022-01-11 15:04] mfulton26 opened #21 "random number"
### Description

I see that `randomNumber` and others don't actually generate random numbers on demand but have a pre-canned list of numbers to pick from. I'd like something similar for dates.

### Proposed solution

- `randomDate` returns any random `Date` picking from a pre-canned list of `Date` offsets and then creating a new `Date` object from "now" and applying the offset to get a random `Dat

[2022-01-11 16:20] geromegrignon commented on #21
Hey @mfulton26,

About Dates, I'm already working on a PR (tracked with #2 as indicated by Netanel).
I'll submit it today.

[2022-01-11 16:28] #8 closed

[2022-01-11 16:39] #21 closed

[2022-01-11 16:40] NetanelBasal commented on #20
`randomFloat` will be added by #11. You can modify the `randomNumber`, change it to a function and support `min` and `max`.

[2022-01-11 18:44] ankitverma2211 commented on #9
@NetanelBasal can you assign me this issue.

[2022-01-11 18:46] NetanelBasal commented on #9
Sure

[2022-01-11 18:47] NetanelBasal commented on #9
But wait for the task of @shaharkazaz before you start. He should do this today

[2022-01-11 18:50] ankitverma2211 commented on #9
okay

[2022-01-11 19:12] iamandrewluca commented on #14
As of API. I would consider to have a plural method for this

e.g.

[code]

[2022-01-11 19:15] iamandrewluca commented on #1
I saw PR related to this issue. That's very cool that we can use Google Translate to translate. But in terms of library API, how this will work taking into consideration that needs to be tree shakeable? 🤔

[code]

[2022-01-11 19:40] NetanelBasal commented on #1
Yes, the next step should be the third option using second entry points.

[2022-01-11 19:50] NetanelBasal commented on #16
https://github.com/nrwl/nx/issues/8475

[2022-01-11 20:29] #16 closed

[2022-01-11 20:29] NetanelBasal commented on #16
Can you please check the latest version?

[2022-01-11 20:35] robingenz commented on #16
Works! 👍  Thank you!

[2022-01-12 12:59] geromegrignon commented on #3
Please assign me this issue

[2022-01-12 17:15] #7 closed

[2022-01-12 17:15] #11 closed

[2022-01-12 17:21] #10 closed

[2022-01-12 18:03] ankitverma2211 commented on #9
@NetanelBasal getting the following error while generating docs . I have the latest code pulled .
<img width="1106" alt="Screenshot 2022-01-12 at 11 33 05 PM" src="https://user-images.githubusercontent.com/3154730/149196510-8e674421-f3cb-4407-96c9-b00bb90f44be.png">

[2022-01-12 20:29] iamandrewluca commented on #1
I can take a look at this later this week. Maybe I'll combine what was done in related PR, and give credits

[2022-01-12 20:33] geromegrignon commented on #9
Run npm install as your installed dependencies aren't matching the pulled package.json

[2022-01-12 20:53] ankitverma2211 commented on #9
Hey, @geromegrignon thanks for responding back quickly. I did do an npm install if you look at the screenshot before running the command. Now I have even deleted the node_modules folder and tried again doing an npm install. It did not work. Let me know if I am missing anything

[2022-01-12 21:03] ankitverma2211 commented on #9
I got the issue the dep seedrandom was not added to the package.json. I have added it and it now works. Thanks for your input @geromegrignon

[2022-01-13 06:05] brandonpittman opened #29 "`rand` isn't actually exported"
### Is this a regression?

Yes

### Description

rand is listed in the README as an export, but it's not actually exported.

I started a [PR](https://github.com/ngneat/falso/pull/28) but the required boilerplate took longer than the fix.

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provi

[2022-01-13 07:02] NetanelBasal commented on #29
I'll release a fix asap

[2022-01-13 07:36] NetanelBasal commented on #29
Should be OK now.

[2022-01-13 07:36] #29 closed

[2022-01-13 08:40] NetanelBasal commented on #2
@geromegrignon you can make the changes now, please

[2022-01-13 08:40] #14 closed

[2022-01-13 08:41] NetanelBasal commented on #15
You can make the changes now according to our new code style, please

[2022-01-13 10:48] NetanelBasal opened #30 "Create beautiful docs website using docusaurus"
### Description

I want to use https://docusaurus.io/ to build the website as we did with [elf](https://ngneat.github.io/elf/). I'm thinking about the following:

First, we need to group files by categories. For example:

[code]

We can also keep it flat and add the `@category` in a comment.

Next, we need to add docs to each function. ( We can do most of it using a script )

[code]

Finally, base

[2022-01-13 10:54] #9 closed

[2022-01-13 10:54] #20 closed

[2022-01-13 11:43] mfulton26 commented on #20
`randomNumber` still needs updating to support a min and max, correct? Any objections to renaming the function to `randomInt`? (Like `parseInt` and `parseFloat` as floats are numbers too.)

[2022-01-13 19:44] mfulton26 commented on #20
perhaps then it is just the readme that doesn't show `randomNumber` takes options; thanks!

[2022-01-13 22:45] iamandrewluca opened #34 "Use everywhere `random` instead of `Math.random`"
### Is this a regression?

Yes

### Description

Usage of `Math.random` should be banned because cannot be deterministic.
And in cases when using a faker funtion in a test, it will allways fail, because everytime returns nondeterministic random data.

A `random` method already exists in the source code that allow also to set a `seed` for pseudo random generator.

To replace every instance of `Math

[2022-01-14 06:33] NetanelBasal commented on #34
I'll fix it. I didn't release it yet. This will be a part of a new major version with many changes, features, and optimizations.

@iamandrewluca I've added a lot of `TODO - generate programmatically` if you want to help.

[2022-01-14 06:36] #34 closed

[2022-01-14 06:43] #2 closed

[2022-01-14 10:00] NetanelBasal opened #35 "Version 2"
### Description

# Goals
- Smaller Bundle
- ~Added TODOS to generate the data programmatically in some functions~
- Finalize the API
- ~Create a docs generator~
- Add comments for docs generation.

### Comment Structure:

[code]

# FINAL API

- seed

## General
- randomNumber
- randomFloat
- randomBoolean
- randomImg
- uuid
- locale
- rand

## System
- fileName
- mimeType
- fileType
- fileExt
- di

[2022-01-14 10:02] NetanelBasal commented on #3
Closing in favor of #35

[2022-01-14 10:02] #3 closed

[2022-01-14 10:20] iamandrewluca commented on #35
imo. We should prefix also Date functions 👀

[2022-01-14 10:46] NetanelBasal commented on #35
No. To be honest, I don't care about faker.js. This library should be better.

[2022-01-14 10:50] NetanelBasal commented on #35
We'll add more options to each function when we finish this part and create new functions.

[2022-01-14 18:37] Technologeek commented on #35
@NetanelBasal Can dedicate a few hours next week. Is there anything you can assign to me?

[2022-01-15 10:07] theryansmee commented on #35
@NetanelBasal I'm happy to help with adding the comments if no one is already working on that?

[2022-01-15 10:11] theryansmee commented on #35
Scratch that, it looks like thats already been done?

[2022-01-15 10:41] theryansmee opened #36 "Pronouns function"
### Description

Pronouns is becoming a common field for user profiles

### Proposed solution

Use `rand()` to select from the JSON list of most common pronouns.

(I have a branch for this ready to go if this feature is wanted)

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-15 12:45] shaharkazaz commented on #35
@Technologeek If it's next week, let's see how we are doing after this weekend. I've done some work 🙂
@theryansmee It's partially done, some have, and some don't, working on it as well but probably won't finish everything.

[2022-01-15 12:54] theryansmee commented on #35
Ok cool. Well I have a block of free time tomorrow, I'm happy to pick up any that you are not going to have time for 😊

[2022-01-15 16:31] NetanelBasal commented on #36
Sounds good

[2022-01-15 16:40] NetanelBasal opened #37 "Entity functions"
### Description

Most of the demos need predefined entities to work it.

### Proposed solution

Create new entity functions under the Entities category.

- `todo`

[code]

- `user`
- `post`
- `comment`

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-15 21:47] NetanelBasal commented on #35
Done

[2022-01-15 21:48] #35 closed

[2022-01-16 08:03] #15 closed

[2022-01-16 09:31] NetanelBasal opened #39 "Generate randLines programmatically"
### Description

Generate `randLines` programmatically

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-16 09:55] #36 closed

[2022-01-16 15:08] #37 closed

[2022-01-16 15:08] NetanelBasal commented on #39
@theryansmee it's on you :)

[2022-01-16 15:45] theryansmee commented on #39
I'm deffo up for it 😊
What will make this different to `text()`

[2022-01-16 15:50] NetanelBasal commented on #39
Line  breaks - \n

[2022-01-16 15:56] theryansmee commented on #39
Perfect. A sign it to me then 😊

I wonder if as a v2, once we have our various text based functionality defined, we could combine some of them by passing options?

E.G

 `{ lineBreaks: true }`

For now I think it's right to keep them separate and simple 😊

[2022-01-16 19:20] NetanelBasal opened #41 "User Roles"
### Description

Add randRole function

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-16 19:21] NetanelBasal opened #42 "Product Entity"
### Description

Add randProduct entity

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-16 19:31] NetanelBasal opened #43 "Movie Entity"
### Description

Create a randMovie function

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-16 19:38] NetanelBasal opened #44 "AWS Category"
### Description

randRegion
randService
randArn

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-16 20:21] theryansmee opened #45 "Add more names to firstName/ lastName JSON file"
### Description

We should add some some of the more popular first/last names from around the world (making sure to include some names with accents over letters; é, ã, ù etc.

### Proposed solution

I could scrape the top X names from a selection of areas from around the world using [This website](https://forebears.io/)

E.G

[Spanish names](https://forebears.io/spain/forenames)

### Alternatives

[2022-01-16 23:26] brandonpittman opened #46 "`random` doc's example is wrong"
### Is this a regression?

No

### Description

The exported function is `random`, not `randRandom`.

### Please provide a link to a minimal reproduction of the bug

https://ngneat.github.io/falso/docs/general#random

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

_No response_

###

[2022-01-17 06:20] #41 closed

[2022-01-17 06:20] #44 closed

[2022-01-17 06:21] #46 closed

[2022-01-17 10:07] Technologeek commented on #43
@NetanelBasal Assign this to me please? Thanks!

[2022-01-17 13:23] ikerasiotis commented on #42
I could contribute to it if I have more information about the 'Product Entity'. Thank You!

[2022-01-17 14:07] NetanelBasal commented on #42
It should return:

[code]

[2022-01-17 14:16] NetanelBasal opened #50 "Add Abbrevation option to gender"
### Description

`gender({ abbrev: true })` // F M

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:17] NetanelBasal opened #51 "Language"
### Description

Add language function

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:19] NetanelBasal opened #52 "Skills"
### Description

Add person skills function

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:20] NetanelBasal opened #53 "Color"
### Description

Add color function - blue, black, etc.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:20] ikerasiotis commented on #42
It's fine for me! You can assign me if you want! :)

[2022-01-17 14:22] NetanelBasal opened #54 "Frequency"
### Description

Never, Once, Seldom, Often, Daily, Weekly, Monthly, Yearly

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:24] NetanelBasal opened #56 "Food"
### Description

Add food function

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-17 14:25] theryansmee commented on #53
@NetanelBasal - I already have a branch for this locally using all the css supported colours.

Do you want to just assign me?

[2022-01-17 19:02] RishiKumarRay commented on #50
I would like to do, can you tell me where in the code, we have to add this

[2022-01-17 19:18] NetanelBasal commented on #50
https://github.com/ngneat/falso/blob/main/packages/falso/src/lib/gender.ts

[2022-01-17 19:42] michaelxvoelker commented on #54
I would like to contribute. 🙂

[2022-01-17 19:51] RishiKumarRay commented on #50
At which line i have to add? @NetanelBasal

[2022-01-17 19:51] #45 closed

[2022-01-17 19:52] #53 closed

[2022-01-17 19:52] #39 closed

[2022-01-17 20:06] RishiKumarRay commented on #50
I am really interested to contribute , just need guidance as i am new to this? if you have any references , please give i will read and then contribute @NetanelBasal

[2022-01-17 20:49] NetanelBasal commented on #50
https://github.com/ngneat/falso/blob/main/CONTRIBUTING.md

[2022-01-18 06:37] NetanelBasal commented on #52
@theryansmee do you want to take this?

[2022-01-18 07:03] theryansmee commented on #52
Yeah sure assign it to me 😊

[2022-01-18 07:05] NetanelBasal commented on #52
@theryansmee I've added you as a member of this project. You have write access now.

[2022-01-18 07:08] theryansmee commented on #52
Thank you! That's really cool 😊

[2022-01-18 08:24] #52 closed

[2022-01-18 11:10] NetanelBasal opened #62 "Interactive Playground within the Docs"
### Description

https://dev.to/mrmuhammadali/live-code-editing-in-docusaurus-ux-at-its-best-2hj1

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-18 13:19] ikerasiotis commented on #42
I have a question. Do you want to use `packages/falso/src/lib/product.json` to generate the Entity Object or create a new JSON with generated data?

[2022-01-18 13:23] NetanelBasal commented on #42
It should be created based on other functions.

[2022-01-18 13:47] ikerasiotis commented on #42
Thank You. I have also one more question. Where may I find _Category_ and _Image_ Attributes?

[2022-01-18 13:49] NetanelBasal commented on #42
Oh I see that you'll need to add a new category function :)

As for the image we have a function for this.

[2022-01-18 13:52] ikerasiotis commented on #42
No worries. I can add it!! I was confused cause there is a file name product.json.

[2022-01-18 17:50] michaelxvoelker commented on #51
Would love to take this over @shaharkazaz. 😊

[2022-01-18 19:17] theryansmee commented on #56
@shaharkazaz - I really like this idea. I've got an idea for how this could work and could probably be used elsewhere where we will have large datasets 😊

[2022-01-18 19:27] #42 closed

[2022-01-18 19:41] #51 closed

[2022-01-18 20:32] michaelxvoelker commented on #50
@RishiKumarRay Have a look at the language/language-codes implementation: https://github.com/ngneat/falso/pull/66/files

You can implement gender abbreviations in a similar way. 🙂

[2022-01-18 21:19] dsa0x opened #67 "Add Quotes Entity"
### Description

Add a method for generating some random quotes.

### Proposed solution

Pick up a couple of quotes and add then as json. I have done this, and just waiting for approval to submit a PR

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-18 22:29] theryansmee opened #69 "Show example output of functions in docs"
### Description

It would be good to have an example output for each function example

[code]

### Proposed solution

I'm not sure if these will be pulled from the JS Doc comments automatically, or if we will need to do some extra work to our docusaurus config

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 00:11] shaharkazaz commented on #69
@theryansmee I'm adding an interactive playground see #62, So I think people can try it out there.
@NetanelBasal WDYT?

[2022-01-19 06:05] NetanelBasal commented on #69
Yes, it should be resolved in #62. Thanks.

[2022-01-19 06:05] #69 closed

[2022-01-19 06:06] NetanelBasal commented on #67
Sure

[2022-01-19 07:20] #67 closed

[2022-01-19 12:06] NetanelBasal commented on #43
Ping :)

[2022-01-19 12:35] Technologeek commented on #43
Opps! Will PR this later today :)

[2022-01-19 14:23] #56 closed

[2022-01-19 14:29] NetanelBasal opened #72 "OAuth Providers"
### Description

github, google, etc

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 14:31] NetanelBasal opened #73 "Integrations"
### Description

[
  "Slack",
  "GitHub",
  "Jira",
  "AWS Lambda",
  "Bitbucket",
  "Bitbucket Server",
  "GitHub Enterprise",
  "GitLab",
  "Grafana",
  "Jira Server",
  "Microsoft Teams",
  "PagerDuty",
  "Vercel",
  "Azure DevOps",
  "WebHooks",
  "Amixr",
  "Calixa",
  "ClickUp",
  "Komodor",
  "Linear",
  "Rookout",
  "Shortcut",
  "Spike.sh",
  "Split",
  "TaskCall",
  "Teamwork",
  "Asana"

[2022-01-19 15:36] kpervin opened #74 "Typescript: randEmail, randFirstName, and randLastName (and likely more) return type `string[]` when no options present"
### Is this a regression?

No

### Description

Expected Behavior:

The following
[code]
should report return values of

[code]

Current behavior:

The above functions result in reporting

[code]

Suggested fix:
[code]
instead of
[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Please provide the e

[2022-01-19 15:46] NetanelBasal commented on #74
![image](https://user-images.githubusercontent.com/6745730/150165453-89d64e88-b4ee-43f5-aabd-3fe9655a989c.png)

[2022-01-19 15:53] #73 closed

[2022-01-19 15:59] NetanelBasal opened #77 "Browsers"
### Description

Browsers list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 16:01] NetanelBasal opened #78 "Priority"
### Description

Priority list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 16:02] NetanelBasal opened #79 "Brands"
### Description

Brands list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 16:04] NetanelBasal opened #80 "Permissions"
### Description

Permissions list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-19 16:41] michaelxvoelker commented on #77
@NetanelBasal Feel free to assign me to #77 #78 #79 #80. I can do them in one PR. 🙂

[2022-01-19 17:07] NetanelBasal commented on #77
It's all yours

[2022-01-19 17:08] NetanelBasal commented on #77
You'll need to comment in each one of them

[2022-01-19 17:28] #43 closed

[2022-01-19 18:08] michaelxvoelker commented on #78
Will take it over. 🙂

[2022-01-19 19:20] michaelxvoelker commented on #78
What would be the correct category? date?

[2022-01-19 19:31] NetanelBasal commented on #78
General for now

[2022-01-19 19:59] michaelxvoelker commented on #79
How is brands list different to companies list? 🤔

[2022-01-19 20:02] NetanelBasal commented on #79
https://ig.ft.com/top-100-global-brands/2018/

[2022-01-19 20:03] NetanelBasal commented on #79
https://smallbusiness.chron.com/difference-between-company-brand-26198.html

[2022-01-19 20:27] dsa0x commented on #80
Hi. I could work on this. what kind of permissions are you referring to though?

[2022-01-19 21:16] michaelxvoelker commented on #77
#83

[2022-01-19 21:16] michaelxvoelker commented on #78
PR #83 submitted.

[2022-01-19 21:17] michaelxvoelker commented on #79
PR #83 submitted.

[2022-01-19 21:17] michaelxvoelker commented on #80
PR #83 submitted.

[2022-01-20 06:20] NetanelBasal commented on #80
@dsa0x you can take #50

[2022-01-20 07:32] NetanelBasal commented on #72
@theryansmee 🧙‍♀️

[2022-01-20 07:35] dsa0x commented on #80
OK. Please assign it to me.

[2022-01-20 07:35] NetanelBasal commented on #80
You need to comment in the issue

[2022-01-20 07:36] dsa0x commented on #50
Please assign this to me.

[2022-01-20 07:36] theryansmee commented on #72
Ah sorry I missed this. Yeah I'll have a look 😊 I'll have to do a little Googling as I don't know many haha

[2022-01-20 07:39] NetanelBasal opened #84 "Phone Number Formats"
### Description

Support formats in phone number function.

References:

https://gist.github.com/anubhavshrimal/75f6183458db8c453306f93521e93d37
https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-20 09:22] ikerasiotis commented on #84
How many do we want? Also, do you want to add locales? I could be on it

[2022-01-20 11:28] NetanelBasal commented on #84
You can use the JSON mentioned here. I'm thinking about something like:

[code]

[2022-01-20 11:50] #50 closed

[2022-01-20 11:51] NetanelBasal commented on #84
I'm open to suggestions, though.

[2022-01-20 11:51] #62 closed

[2022-01-20 16:14] dsa0x opened #86 "Add more protocols and their full names"
### Description

Add more protocols to the randProtocol method, and also take a parameter like `fullName`.

### Proposed solution

`randProtocol({fullName: true}) // User Datagram Protocol`

I have a PR ready for this.

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-20 16:16] NetanelBasal commented on #86
Sure, let's see it

[2022-01-20 16:31] #72 closed

[2022-01-20 16:42] theryansmee opened #89 "Allow user to pass email provider/suffix to randEmail"
### Description

This would allow user to test regex patterns for specific emails with random names.

E.G

[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-20 16:44] NetanelBasal commented on #89
Cool

[2022-01-20 17:39] theryansmee commented on #89
As part of this I have added a randEmailProvider function

[2022-01-20 18:50] theryansmee opened #90 "Allow users to get names with/without accented characters"
### Description

Not all systems are meant to support accented characters.

We should separate the firstName and lastName JSON into with/without accented characters and allow users to pass a param to `randFirstName`, `randLastName` & `randFullName`

[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-20 19:06] #86 closed

[2022-01-20 19:14] #89 closed

[2022-01-20 19:15] NetanelBasal commented on #90
Can I say no to you?

[2022-01-20 19:21] theryansmee commented on #90
You can, but I might cry haha

[2022-01-20 19:22] #77 closed

[2022-01-20 19:22] #78 closed

[2022-01-20 19:22] #79 closed

[2022-01-20 19:22] #80 closed

[2022-01-20 20:01] NetanelBasal opened #92 "Clothing sizes"
### Description

Add clothing sizes to eCommerce

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-20 20:38] michaelxvoelker commented on #92
@NetanelBasal Please assign to me.

[2022-01-20 21:59] ikerasiotis commented on #84
Do you want to generate from a regex a phone number? I think the length of the string is different country by country. Also, many developers use validator.js, so it should generate a number that passes the function `isMobile()`.

[2022-01-21 06:31] #92 closed

[2022-01-21 06:32] #90 closed

[2022-01-21 06:36] NetanelBasal commented on #84
Seems fine to me

[2022-01-21 11:10] NetanelBasal opened #96 "Drinks"
### Description

Drinks list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-21 11:22] NetanelBasal opened #97 "Movie characters"
### Description

Movie characters

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-21 11:24] NetanelBasal opened #98 "Shapes"
### Description

Shapes

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-21 13:22] michaelxvoelker commented on #98
Assign this to me please.

[2022-01-21 13:58] theryansmee commented on #84
I'm not sure if this is overkill, but i've user [Google phone lib](https://github.com/google/libphonenumber) in the past for validating numbers and its great. I think you can also use it to format numbers from lots of diff places? Could help?

[2022-01-21 14:56] alinp25 commented on #96
I am willing to take this, if possible.

[2022-01-21 14:58] theryansmee commented on #96
Awesome, I have assigned it to you 😊

[2022-01-21 15:05] theryansmee opened #99 "Document site JS error"
### Is this a regression?

No

### Description

When I navigate to [`Falso text doc page`](https://ngneat.github.io/falso/docs/text/), I get the following `console.error` and `result` section is broken

![image](https://user-images.githubusercontent.com/7142779/150549280-51986eff-3d78-4574-ac78-1bc7301fe739.png)

### Please provide a link to a minimal reproduction of the bug

_No response_

### Pl

[2022-01-21 15:08] theryansmee commented on #99
The following pages also have similar errors:
- date
- entities
- general

[2022-01-21 15:55] theryansmee opened #100 "randFullName with length has weird formatting"
### Is this a regression?

No

### Description

The `length` param is being passed to `randFirstName` & `randLastName` meaning each fullName string contains a list of first names and last names E.G

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovere

[2022-01-21 17:10] michaelxvoelker commented on #97
Assign to me please.

Would love to assign to myself by myself. I guess the permission options are not that granular. 🤔

[2022-01-22 09:41] #99 closed

[2022-01-22 16:46] #100 closed

[2022-01-22 16:55] NetanelBasal commented on #84
@ikerasiotis I see that @arulprabakaran already did this.

[2022-01-22 16:59] ikerasiotis commented on #84
@NetanelBasal. ok..

[2022-01-22 17:00] NetanelBasal commented on #84
You're welcome to contribute and add more generators.

[2022-01-22 17:21] #96 closed

[2022-01-23 06:12] NetanelBasal opened #110 "randJSON"
### Description

Some applications use a JSON viewer to show JSON data to the user. Create a `randJSON` function:

- The keys can be static and the values dynamic
- Accept JSON size - `randJSON({ size: 20 })` will generate an object with 20 keys.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 06:48] ZiyanK commented on #110
Please assign this to me.

I'm thinking of defining an object and using existing random functions from the package to get dynamic values for the keys.

[2022-01-23 07:07] NetanelBasal opened #111 "randPlan"
### Description

Basic, etc.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:08] NetanelBasal opened #112 "randStatus"
### Description

active, pending, etc.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:11] NetanelBasal opened #113 "randSocialNetwork"
### Description

facebook, twitter, etc.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:13] NetanelBasal opened #114 "randSvgIcon"
### Description

20 free small svg icons

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:16] NetanelBasal opened #115 "randFontFamily"
### Description

randFont

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:17] NetanelBasal opened #116 "randFontSize"
### Description

randFontSize({ suffix: 'rem' }) // default px

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:25] NetanelBasal opened #117 "randAccessory"
### Description

https://7esl.com/accessories-vocabulary-english/

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 07:31] NetanelBasal opened #118 "randSlug"
### Description

randSlug

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-23 08:31] shaharkazaz commented on #111
@NetanelBasal You mean a subscription plan?

[2022-01-23 08:56] arulprabakaran commented on #112
I will look at this, please assign it to me

[2022-01-23 09:24] #84 closed

[2022-01-23 09:25] NetanelBasal commented on #111
Yes

[2022-01-23 09:39] #97 closed

[2022-01-23 09:44] #98 closed

[2022-01-23 10:41] ikerasiotis commented on #115
I could handle it

[2022-01-23 10:41] ikerasiotis commented on #116
I would like to give a try

[2022-01-23 11:01] theryansmee commented on #116
Awesome, I have assigned this to you 🙂

[2022-01-23 11:02] theryansmee commented on #115
This is also assigned to you 🙂

[2022-01-23 11:09] theryansmee opened #120 "Full name tests fail intermittently"
### Is this a regression?

No

### Description

Spaces in last names break the tests.

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

_No response_

### Do you want to create a pull request?

Yes

[2022-01-23 11:12] alinp25 commented on #117
I can take this, if possible

[2022-01-23 12:08] NetanelBasal commented on #117
Sure

[2022-01-23 12:09] #120 closed

[2022-01-23 13:00] michaelxvoelker commented on #118
Please assign this to me.

[2022-01-23 13:04] oyuutan commented on #113
I can handle this with a list of 100 social if it's still open!

[2022-01-23 13:05] NetanelBasal commented on #113
Sure

[2022-01-23 15:46] #112 closed

[2022-01-23 17:07] #115 closed

[2022-01-23 17:08] #117 closed

[2022-01-23 17:10] NetanelBasal commented on #114
@theryansmee time for your magic

[2022-01-23 17:12] theryansmee commented on #114
Im happy to have a look but I've got a busy start to my week so if anyone else wants to pick it up between now and Wednesday, I'll get the next one

[2022-01-23 17:13] NetanelBasal commented on #114
Sure

[2022-01-23 17:52] rothsandro opened #125 "TypeScript definition broken because of food.json"
### Is this a regression?

Yes

### Description

The TypeScript definitions are broken because of the food.json import. Food is the only function that imports the json not just for the actual function but for the type definition of `CuisineOrigin`.

1. Create a new Angular 13 project with Angular CLI
2. Install falso
3. Import and use any of the rand* function
3. Start the project with `npm start`

[2022-01-23 19:38] #113 closed

[2022-01-23 19:39] #116 closed

[2022-01-23 19:43] #125 closed

[2022-01-23 22:25] alinp25 commented on #114
Should the SVGs be stored as full <path /> elements, or just store their drawing path?

[2022-01-24 05:37] NetanelBasal commented on #114
Full elements

[2022-01-24 06:41] #118 closed

[2022-01-24 06:57] #111 closed

[2022-01-24 07:01] NetanelBasal opened #129 "randCodeSnippet"
### Description

`randCodeSnippet({ lang: 'html' })`

One small/medium snippet for top languages.

[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-24 07:26] alinp25 commented on #114
I can take it, if possible.

[2022-01-24 08:32] NetanelBasal opened #130 "randBinary"
### Description

randBinary number

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-24 08:32] NetanelBasal opened #131 "randOctal"
### Description

randOctal number

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-24 08:33] NetanelBasal opened #132 "randSong"
### Description

100 songs list

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-24 08:33] NetanelBasal opened #133 "randSinger"
### Description

100 singers

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-24 10:13] ikerasiotis commented on #130
Could you assign me?

[2022-01-24 14:24] Technologeek commented on #133
@NetanelBasal Assign this to me please? Thanks! I love music

[2022-01-24 14:29] theryansmee commented on #132
@Technologeek did you want me to also assign this to you? Or would you prefer to wait until you've finished the other one?

[2022-01-24 16:40] michaelxvoelker commented on #129
Assign to me please.

[2022-01-24 19:28] theryansmee opened #134 "Random super hero"
### Description

Function that returns random super hero’s

### Proposed solution

Option 1:
- Standard randSuperheroName() function pulling from simple string array

Option 2:
- Json data with more info about the hero (name, alter ego, franchise etc)
- We could then have an assortment of methods (randSuperheroName(), randSuperheroEntity())

I quite like option 2

### Alternatives considered

_No

[2022-01-24 19:31] NetanelBasal commented on #134
So both :)

`randSuperheroName(), randSuperhero()`

[2022-01-24 19:41] theryansmee commented on #134
Awesome! 😊

[2022-01-25 00:41] alinp25 commented on #114
How should the SVG be returned? As strings, containing the SVG element?

[2022-01-25 04:53] NetanelBasal commented on #114
Yes

[2022-01-25 07:34] #114 closed

[2022-01-25 07:42] alinp25 commented on #131
I can take this, if possible.

[2022-01-25 07:43] NetanelBasal commented on #131
Sure

[2022-01-25 08:01] #131 closed

[2022-01-25 14:26] theryansmee opened #139 "Code snippets are not visible in dark mode"
### Is this a regression?

No

### Description

The code colours not contrasting enough in dark mode meaning they are unreadable (Especially the key names).

![image](https://user-images.githubusercontent.com/7142779/150994774-5a5415ab-5a72-4781-92b5-7bc1dcbf0b57.png)

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[2022-01-25 17:04] theryansmee commented on #139
@NetanelBasal - When I try to run `yarn start` in the docs directory, I get the following error `Module not found: Error: Can't resolve './falso.min' in '/falso/docs/src/theme/ReactLiveScope'`. Is there any prerequisites I need before working on the docs?
_(Sorry if this is a super simple question - I've never worked with react/doc before)_

[2022-01-25 18:52] shaharkazaz commented on #139
@theryansmee run from the root `yarn start:docs`

[2022-01-25 20:17] theryansmee commented on #139
@shaharkazaz thanks for the heads up. Sorry to keep coming back but I'm now getting: `Module not found: Error: Can't resolve 'seedrandom' in '/falso/docs/src/theme/ReactLiveScope'`

[2022-01-25 20:31] shaharkazaz commented on #139
@theryansmee just ran it and seems to be working with no issues 🤷‍♂️

[2022-01-25 20:43] theryansmee commented on #139
Strange. From the `mian` branch? I'll remove my packages and start again, maybe theres some old packages or something

[2022-01-25 20:53] shaharkazaz commented on #139
Yes, from main

[2022-01-25 22:41] shaharkazaz commented on #139
@theryansmee LMK if you managed, I'm here to help 🙂

[2022-01-26 07:42] theryansmee commented on #139
@shaharkazaz Nah, I didn't manage it last night. I'm going to try again today.

From checking out a fresh instance of the project, what are the steps you take to get to the point of being able to run `yarn start:docs` at route?

This is what I get when I run it:
[code]

Cheers for your help 😊

[2022-01-26 07:43] NetanelBasal commented on #139
@theryansmee use node v16 or go to also library package and run npm i

[2022-01-26 07:44] shaharkazaz commented on #139
@theryansmee I'll try a fresh project and update back here 👍

[2022-01-26 08:30] #134 closed

[2022-01-26 08:45] theryansmee commented on #139
@NetanelBasal @shaharkazaz - Updating node to v16 and then reinstalling my packages seems to have done the trick. Cheers both of you 👍

[2022-01-26 09:31] #130 closed

[2022-01-26 16:15] michaelxvoelker commented on #129
I struggle to find some time before weekend.   Feel free to reassign to someone else.

[2022-01-26 17:15] NetanelBasal commented on #129
No rush

[2022-01-26 18:45] theryansmee opened #143 "Update randUser to use same name to generate username & email"
### Description

Current response:

[code]

Suggested response:
[code]

### Proposed solution

Allow firstName & lastName to be passed to `randEmail` & `randUserName` (Both as optional options)

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-26 19:28] #139 closed

[2022-01-26 19:32] NetanelBasal commented on #143
Cool

[2022-01-26 20:35] #143 closed

[2022-01-27 06:10] NetanelBasal opened #145 "Add abbr option to randMonth"
### Description

`randMonth({ abbreviation: true })`. Cut the string and leave the three first letters.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-01-27 11:18] alinp25 commented on #145
Can you assign this to me? Thanks!

[2022-01-27 11:25] NetanelBasal commented on #145
@alinp25 it was already done

[2022-01-27 12:00] #145 closed

[2022-01-30 11:46] theryansmee opened #150 "Add random sports team functions by sport"
### Description

E.G
`randFootballTeam()`, `randHockeyTeam()`, etc

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-01-30 20:31] #150 closed

[2022-01-31 17:30] Technologeek commented on #133
@theryansmee Sorry for the delay with this just got back from some impromptu travel will PR today/tomorrow!

[2022-01-31 17:41] theryansmee commented on #133
@Technologeek - Take your time, no rush. We are all just doing our best with the time we have available 😊

[2022-01-31 21:20] jasiene commented on #129
Hi, I'd be interested in picking this up

[2022-01-31 22:04] tomalaforge opened #152 "rand([1,2,3], {length: 2})"
### Description

random function which return an array of randum element of given array

I can implemented it if not already done or accepted

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-02-01 06:00] NetanelBasal commented on #129
@jasiene you can take it if @michaelxvoelker doesn't mind.

[2022-02-01 06:00] NetanelBasal commented on #152
Do you mean`rand[1, 2, 3]`?

[2022-02-01 06:01] NetanelBasal commented on #152
![image](https://user-images.githubusercontent.com/6745730/151920153-fed7a9d6-1bdd-4e26-8115-8c136f816d0a.png)

[2022-02-01 06:12] michaelxvoelker commented on #129
Do it. 😊👍🏼

[2022-02-01 09:39] yuvalmono opened #153 "randEmail creates invalid emails"
### Is this a regression?

No

### Description

Generating mail with randEmail can generate emails such as: lukasz.ágústsson@hotmail.info which are not valid (in most cases).
maybe create a flag for enabling those characters (such as á). could be applied to all of the name generators.

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception o

[2022-02-01 09:55] tomalaforge commented on #152
Hi netaniel,

I mean rand([1,2,3], {length: 4}) which return [1,3,2,1]

[2022-02-01 09:57] NetanelBasal commented on #153
@theryansmee please take care

[2022-02-01 09:58] NetanelBasal commented on #152
You can create a PR

[2022-02-01 10:31] tomalaforge commented on #152
great, i'll do it tonight, how do I assign myself to this issue?

[2022-02-01 10:36] theryansmee commented on #153
On it

[2022-02-01 10:56] jasiene commented on #129
Thanks @michaelxvoelker 😄

[2022-02-01 17:25] #153 closed

[2022-02-03 08:02] #152 closed

[2022-02-03 13:20] Parikshit-Hooda opened #161 "'Edit this page' link not working as expected"
### Is this a regression?

No

### Description

To edit a page using the <b>Edit this page</b> link in https://ngneat.github.io/falso/docs/vehicle (and similar pages), it routes to https://github.com/ngneat/falso/docusaurus/edit/main/website/docs/auto-generated/vehicle.mdx . This link is not working a expected. Ideally, it should open a console or editor to edit the page or something like this.

#

[2022-02-03 20:50] #132 closed

[2022-02-03 20:50] #133 closed

[2022-02-03 20:50] NetanelBasal commented on #110
ping

[2022-02-04 07:24] Parikshit-Hooda commented on #129
@jasiene are you still working on this? @NetanelBasal can you reassign to me?

[2022-02-04 07:37] Parikshit-Hooda opened #163 "code of conduct badge in README.md not working"
### Is this a regression?

No

### Description

[falso/README](https://github.com/ngneat/falso#readme) contains a **code of conduct** badge. When I clicked on it, it leads to a fallback 404 error page. Clicking on the badge leads to [here](https://github.com/ngneat/falso/blob/main).

### Please provide a link to a minimal reproduction of the bug

https://github.com/ngneat/falso/blob/main

### Plea

[2022-02-04 09:49] #163 closed

[2022-02-04 12:39] Parikshit-Hooda opened #165 "Docs link in Footer not working as expected"
### Is this a regression?

No

### Description

The Docs link in the Footer section of [Falso](https://ngneat.github.io/falso/) has href as [Docs/date](https://ngneat.github.io/falso/docs/date). It makes more sense to me to set href to [Docs/Getting Started](https://ngneat.github.io/falso/docs/getting-started) considering that the Docs branch down from there.

### Please provide a link to a minima

[2022-02-04 15:30] Parikshit-Hooda opened #167 "Exposed ApiId and ApiKey in docusaurus.config.js"
### Is this a regression?

No

### Description

Exposed ApiId and ApiKey values in [docusaurus.config.js](https://github.com/ngneat/falso/blob/main/docs/docusaurus.config.js)

### Please provide a link to a minimal reproduction of the bug

https://github.com/ngneat/falso/blob/main/docs/docusaurus.config.js

### Please provide the exception or error you saw

[code]

### Please provide the environme

[2022-02-05 07:10] #165 closed

[2022-02-05 07:41] shaharkazaz commented on #161
@NetanelBasal Since these pages are auto-generated according to the JSDoc, where would we like them to lead? I think that maybe a contribution page explaining how to update the docs.

[2022-02-05 17:06] NetanelBasal commented on #161
Ok

[2022-02-05 17:08] NetanelBasal commented on #167
You can't do anything with these. Thanks for the suggestion.

[2022-02-05 17:08] #167 closed

[2022-02-05 18:59] jasiene commented on #129
Hey @Parikshit-Hooda I am yes. I will submit a PR tonight

[2022-02-06 09:48] yuvalkarif opened #169 "randFullName is in Address docs."
### Is this a regression?

No

### Description

randFullName is apparent in the address funcs section in the docs (and link is broken)
![image](https://user-images.githubusercontent.com/34835592/152675460-01b57bdf-4509-44ff-b4da-25882a82953d.png)

### Please provide a link to a minimal reproduction of the bug

https://ngneat.github.io/falso/docs/address#randfullname

### Please provide the excepti

[2022-02-06 09:59] NetanelBasal commented on #169
It should be fine now. Thanks.

[2022-02-06 09:59] #169 closed

[2022-02-08 20:50] theryansmee opened #170 "Date functions example error"
### Is this a regression?

No

### Description

`react-json-view` throws error when trying to display example for; `randFutureDate`, `randBetweenDate`, `randPastDate`, `randRecentDate` & `randSoonDate`.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/7142779/153072802-1b650d55-3b33-457b-9529-ca942bd01f23.png">

### Please provide a link to a minimal reproduction of th

[2022-02-09 11:26] theryansmee opened #172 "Add randAddress function"
### Description

- `randAddress` - Return address entity
- `randAddressString` - Additionally we could return an address string.
- `randUser` - Update to use new `randAddress` in model

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-02-09 11:56] #170 closed

[2022-02-09 12:56] theryansmee opened #175 "Add support for functions to be part of multiple categories"
### Description

### Discussed in https://github.com/ngneat/falso/discussions/173

<div type='discussions-op-text'>

<sup>Originally posted by **theryansmee** February  9, 2022</sup>
It might be cool to be able to add multiple categories to a function so that it appears in multiple places in the documentation.
For example, a user would probably expect `randSuperHero` to appear in the "Comic book"

[2022-02-09 14:23] #172 closed

[2022-02-09 20:30] #175 closed

[2022-02-10 05:59] NetanelBasal commented on #1
@theryansmee do you think you can handle this?

[2022-02-10 06:55] theryansmee commented on #1
@NetanelBasal - Sorry I don't have any experience with this. It would probably be better suited for someone else.

[2022-02-10 12:01] iamandrewluca commented on #1
What would be the approach here. Using [fileReplacements](https://nx.dev/next/build#filereplacements) to replace default locale e.g. `en.json` with `de.json` and do builds for each locale?

[2022-02-10 12:03] NetanelBasal commented on #1
We don't want it as a separate npm package. The goal is to import it as: `import { randName } from @ngneat/falso/locales/ru`

[2022-02-10 12:06] NetanelBasal commented on #1
Yes, but they will be imported from the main package

[2022-02-10 12:09] iamandrewluca commented on #1
Main folder will be something like this
<img width="685" alt="image" src="https://user-images.githubusercontent.com/1881266/153405777-674bf000-a8c1-4fff-9c24-7ee8af1777cb.png">

And each locale subfolder, something like this 🤔

<img width="680" alt="image" src="https://user-images.githubusercontent.com/1881266/153405918-11371cff-a925-408e-b1d3-670ddc041dfc.png">

[2022-02-10 12:09] NetanelBasal commented on #1
yes

[2022-02-10 19:00] rodrigofeijao opened #180 "randWord array limited to 72"
### Is this a regression?

No

### Description

When getting an array with a given "length" this is limited to the number of items in the seed file (72 in this case).
I've also couldn't find any tests to this function.

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment

[2022-02-10 21:11] theryansmee opened #181 "Make county and country optional for randAddress and randFullAddress"
### Description

Allow a user to pass in `includeCounty` or `includeCountry` (Both will default to true)

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-02-11 11:08] #181 closed

[2022-02-12 19:10] NetanelBasal opened #183 "Export the interfaces of entities"
### Description

import { Todo } from '@ngneat/falso';

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-02-13 12:34] #183 closed

[2022-02-13 17:32] theryansmee commented on #180
@rodrigofeijao I'm not sure if i've misunderstood you but I have tried passing a length value larger than the number of items in the JSON array and all seems to work as expected _(See screenshot)_
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/7142779/153767019-1352303f-6ac3-4d00-ba0d-45a18ba67e44.png">

[2022-02-14 18:45] NetanelBasal opened #185 "randTextRange"
### Description

Often, we need to check the UI with short and long texts. Implement the following convenient function:

[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-02-14 18:45] NetanelBasal commented on #185
@theryansmee do you want it?

[2022-02-14 19:02] theryansmee commented on #185
Yeah I'll take it 😊

[2022-02-15 06:13] #185 closed

[2022-02-15 06:15] NetanelBasal commented on #180
@rodrigofeijao can you share a code example with the issue, please?

[2022-02-16 08:25] #161 closed

[2022-02-16 16:07] rodrigofeijao commented on #180
Sorry @theryansmee and @NetanelBasal this might be my fault! I think I've totally overlooked an issue I was having when doing the `randJSON()` and assumed the error were in the `randWord` function instead.

Basically I was getting a length mismatch error at this function: https://github.com/ngneat/falso/blob/main/packages/falso/src/tests/rand-json.spec.ts#L22-L29
when using randomized numbers (usu

[2022-02-17 17:18] theryansmee opened #197 "Add rand flight details"
### Description

randFlightNumber
randAirline
randFlightDetails
randSeatNumber

I was bored on a flight so I’ve already done this work, I just need to neaten it up haha

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-02-18 20:24] rothsandro opened #201 "Wrong sports category in JSON"
### Is this a regression?

No

### Description

The `randSports()` function accepts the category "winterOlympic":

[code]

The JSON uses "olympicWinter" but should be "winterOlympic".

Interface: https://github.com/ngneat/falso/blob/main/packages/falso/src/lib/sports.ts#L6
JSON: https://github.com/ngneat/falso/blob/main/packages/falso/src/lib/sports.json#L50

### Please provide a link to a minimal

[2022-02-18 20:37] Pranomvignesh commented on #201
@NetanelBasal please assign this issue to me. I will fix it

[2022-02-18 20:39] theryansmee commented on #201
Wait sorry @rothsandro, you want to pick it up as you raised it

[2022-02-19 13:48] michaelxvoelker commented on #1
I started to work on it. Would provide a draft PR over the weekend. 😊

[2022-02-19 17:07] #201 closed

[2022-02-19 18:34] #197 closed

[2022-02-20 12:44] theryansmee opened #208 "Add randAirport function"
### Description

Add function and update flight details to use it

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-02-21 06:36] #208 closed

[2022-02-23 12:09] theryansmee opened #214 "All playground results are broken"
### Is this a regression?

Yes

### Description

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/7142779/155316367-853ab096-6daf-45df-a8a4-0a5123d9c4fb.png">

<img width="439" alt="image" src="https://user-images.githubusercontent.com/7142779/155316611-2f01ae3e-bf29-4d07-b79f-d036e42d1403.png">

### Please provide a link to a minimal reproduction of the bug

https://ng

[2022-02-23 12:48] theryansmee commented on #214
It looks like this commit broke them https://github.com/ngneat/falso/commit/0b8b85b5f8cf8adb71a1780d2781683ab3e4069b

[2022-02-23 12:51] #214 closed

[2022-02-23 18:23] theryansmee opened #215 "Add rand credit card entity function"
### Description

Use a combination of finance functions to create credit card entity

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

Yes

[2022-02-24 07:16] #1 closed

[2022-02-28 07:20] #215 closed

[2022-03-01 11:28] #180 closed

[2022-03-09 12:38] juliendelort opened #220 "Getting unique values when specifying length"
### Description

Currently, when specifying a length, duplicates can be returned.

Here is an example call:
[code]
result:
[code]

Is there a way to only get unique results?

### Proposed solution

Maybe an extra option:
[code]

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-03-09 12:59] Pranomvignesh commented on #220
Hi @juliendelort , I have a doubt in this implementation.
What if the length provided in the `rand` function is greater than the available number of entries in the data ?

1. If `unique:true` is prioritized, then the output will have less number of entries than specified in length
2. If `length` is prioritized, then the output will not be unique

Either way, the function is not returning an output

[2022-03-10 12:47] juliendelort commented on #220
That makes sense, thank you for the reply!
How about using a more explicit option (like `tryUniques: 10` for example) and letting the user choose between strategies #1 and #2 above using another option (like `priority: 'length' | 'unicity'`):

[code]

(Different option names can be used)

[2022-03-10 16:19] NetanelBasal commented on #220
@shaharkazaz @theryansmee any thoughts?

[2022-03-10 16:32] theryansmee commented on #220
I really like the idea of ensuring data is unique, and I think the `priority` is a really interesting concept.

We need to think about:
- How this param will work with randomly generated content rather than JSON data (Credit card number etc)
- How we clearly document to a user that if the select `unicity` their array length may not be what they initially expecting. And the returned length could in

[2022-03-12 17:44] NetanelBasal opened #221 "randText is invalid"
### Is this a regression?

No

### Description

<img width="670" alt="image" src="https://user-images.githubusercontent.com/6745730/158028769-34babf0f-83b3-4daa-bfd1-936f1a044536.png">

We have dot and comma. It also doesn't look like text :)

`randText({ length: 300 })`

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you sa

[2022-03-12 17:44] NetanelBasal commented on #221
@theryansmee

[2022-03-12 19:51] theryansmee commented on #221
@NetanelBasal - I've just looked at this and it's behaving correctly. It's given you an array of 300 `randText` each with a fullstop on the end
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/7142779/158032781-855346ea-7ecc-4ae2-9bd3-fe791f9a7f55.png">

Did you mean to use `randText({ charCount: 300 })`?
<img width="1552" alt="image" src="https://user-images.githubuser

[2022-03-12 20:09] NetanelBasal commented on #221
You're right. That's my bad, sorry for the trouble :)

[2022-03-12 20:09] #221 closed

[2022-03-15 17:11] theryansmee commented on #220
@shaharkazaz @NetanelBasal - Did you guys have any more thoughts on this? The more I think about it, the more I think it would be cool

[2022-03-16 08:16] theryansmee commented on #220
I'm going to have a little crack at it then :)

[2022-03-18 09:09] MathRobin opened #224 "randInList"
First, many thanks for your work and the great doc^^

### Description

Being able to define a list of words (or whatever) and provides one of them

### Proposed solution

[code]
### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-03-18 09:19] MathRobin opened #225 "Make falso available in doc site"
### Description

Firstly: many thanks for your work !

Put falso into page of doc, as it, we can test it directly in the doc. Like some on tools (thinking about moment, date-fns, ...)

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-03-18 15:03] leon commented on #224
in the core package there is a `randElement` that takes an array.

could we export that?

[2022-03-18 15:10] leon opened #226 "Allow specifying precision in randNumber"
### Description

in faker i used generating numbers with precision.

[code]
which would give me
`1400`

### Proposed solution

Could we add the precision option to randNumber?

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-03-18 16:22] rothsandro commented on #224
Isn't that the same as the already existing `rand()` function ([docs](https://ngneat.github.io/falso/docs/general/#rand))?

[2022-03-18 16:53] Pranomvignesh commented on #226
Hi @leon, I have attempted to add this feature in randNumber, but got stuck on one issue.
What if, the precision value is greater than provided max value, then my implementation always outputs 0

I'm not sure whether my implementation is correct (or) not. Also, Correct me if I misunderstood your use case

Check out my implementation of precision [here](https://github.com/Pranomvignesh/falso/blob/f

[2022-03-18 17:44] theryansmee commented on #224
@rothsandro - Ah yeah, great shout! I'll close this then 😊

[2022-03-18 17:44] #224 closed

[2022-03-18 22:02] MathRobin commented on #224
Didn't saw it. Exactly what I wanted. Many thanks!

[2022-03-21 07:59] leon commented on #226
@Pranomvignesh Yes this what I was after :)

the new @fakerjs repo uses this code
https://github.com/faker-js/faker/blob/main/src/datatype.ts#L62-L78

There are a few workarounds in their code we might want to have as well.

[2022-03-21 08:04] NetanelBasal commented on #225
I'm not sure I understand what you mean.

[2022-03-21 08:04] NetanelBasal commented on #226
You're welcome to submit a PR.

[2022-03-21 10:07] Pranomvignesh commented on #226
Hi @leon , Thanks for the clarification.

Upon experimenting on the new fakerjs source code, I found that it also has the flaw which I have mentioned before.

I have created some scenarios where precision will shift the output making it not compliant to the provided min and max values.

Refer the [Code Sandbox Playground](https://codesandbox.io/s/precisioninrandnumber-falso-vs-faker-u5cwhb?file=/i

[2022-03-21 10:28] MathRobin commented on #225
When you browse doc website, I would love to be able to try falso into devtools of my browser. Maybe it's already the case, but didn't succeed to use it

[2022-03-21 10:43] theryansmee commented on #225
This is na interesting concept that i've actually never noticed before.

https://date-fns.org/
<img width="438" alt="image" src="https://user-images.githubusercontent.com/7142779/159245738-97b8605c-cb6f-44db-b746-c121b62aee65.png">

[2022-03-21 11:26] MathRobin commented on #225
yep, it's really cool, date-fns, lodash, momentjs, and some other great tool lib provides this ability. And falso is a great tool^^

[2022-03-21 12:56] NetanelBasal commented on #225
I'm not sure what's the motivation when you have:

- A live running example of each function
- A stackblitz link

[2022-03-21 12:59] NetanelBasal commented on #225
Ok, so @theryansmee already added it 😂

[2022-03-21 12:59] theryansmee commented on #225
Hahaha I'm happy not to if you are not a fan 😂 It was only a few lines of code so i'm easy either way mate haha

[2022-03-21 12:59] NetanelBasal commented on #225
I'm fine

[2022-03-21 13:00] #225 closed

[2022-03-21 13:42] MathRobin commented on #225
Many thanks @theryansmee, many love on you

[2022-03-21 13:43] theryansmee commented on #225
😂 we got there eventually haha

[2022-03-21 13:45] MathRobin commented on #225
(don't understand your last comment, I don't speak well english :-( , thanks french education )

[2022-03-21 13:47] leon commented on #226
I submitted a PR for it 🚀
https://github.com/ngneat/falso/pull/230

[2022-03-21 13:49] MathRobin commented on #225
![2022-03-21_14-49](https://user-images.githubusercontent.com/1046585/159274848-0a911307-16c6-4082-9799-ad0d75775c5c.png)
:heart:

[2022-03-22 11:35] leon commented on #226
Fixed by: https://github.com/ngneat/falso/pull/230

[2022-03-22 11:35] #226 closed

[2022-03-22 14:57] leon opened #232 "uuid does not implement seed"
### Is this a regression?

No

### Description

When using `randUuid` is used `uuid` under the hood.
But it generates new values even if you have set a seed.

I think we could fix it by passing along a random parameter to the uuid function.
but it requires a `InputBuffer` with 16 bytes of random data.

I'm not sure how to best generate 16 bytes of random data based on the `seedrandom` library.

An

[2022-04-03 10:50] pumano opened #236 "Possibility to set finance account length"
### Description

I'm trying to migrate from faker to falso, and stuck with finance account, because faker provide possibility to generate account with any length, for example: `finance.account(10)` create random account with 10 digits, but when I use length in falso account I only can use it for create array of accounts.

### Proposed solution

I check code:
https://github.com/ngneat/falso/blob/11

[2022-04-03 17:32] shaharkazaz commented on #236
@pumano Would love to see your PR 🙂

[2022-04-04 06:09] jbdemonte opened #237 "PhoneNumber not validated"
### Is this a regression?

No

### Description

falso can generate number like this one : `+33 0 54 43 46 83`  when using the `FR` code country (due to the mask "+33 # ## ## ## ##")

Problem is this number is no validating the  [libphonenumber-js](https://www.npmjs.com/package/libphonenumber-js)

[code]

[2022-04-04 06:13] NetanelBasal commented on #237
Would it be possible to know what is considered a valid number for each place?

[2022-04-04 06:31] jbdemonte commented on #237
[Number in france](https://en.wikipedia.org/wiki/Telephone_numbers_in_France)

Numbers starts from 01 to 07 for normal numbers, 08 and 09 are for special numbers, there is no 00

So, in international number, there is no `+33 0` prefixes, 1 to 9 would be correct I guess

https://codesandbox.io/s/phone-numbers-cmg7mv

[2022-04-04 06:44] theryansmee commented on #237
I'm pretty sure that `+33` is the international code for France. When I call French mobile numbers from the U.K. I replace the leading 0 with `+33`.

We could look into using Google's phone number lib as a dev dependency to validate number in our tests (we would still need to research number formats ourselves, but at least we'd know if they are valid)

[2022-04-04 06:45] theryansmee commented on #237
https://countrycode.org/france

[2022-04-04 06:59] jbdemonte commented on #237
Yes, but no double 0

+33 stand for initial 0

national format is : 0[1-9] ## ## ## ##
international format is : +33 [1-9] ## ## ## ##

[2022-04-04 10:37] NetanelBasal commented on #237
@jbdemonte you're welcome to create a PR

[2022-04-05 14:05] #236 closed

[2022-04-05 15:21] #237 closed

[2022-04-17 19:32] davidfou opened #253 "Combining an helper with a random length isn't consistent"
### Is this a regression?

No

### Description

Combining an helper with `randNumber` for the length gives inconsistent output. Whenever the length is `0`, the output is no longer an array:

[code]

### Please provide a link to a minimal reproduction of the bug

https://runkit.com/dfournier/bug-falso

### Please provide the exception or error you saw

_No response_

### Please provide the environm

[2022-04-17 19:35] NetanelBasal commented on #253
You're welcome to submit a PR

[2022-04-17 20:08] #253 closed

[2022-05-06 06:37] NetanelBasal commented on #232
@leon any news here?

[2022-05-06 07:18] leon commented on #232
No sorry
I will not have the time to fix it.

[2022-05-09 12:24] Hypenate opened #260 "randWord sometimes generates one letter"
### Is this a regression?

No

### Description

When using randWord() it sometimes only gives you one letter, a letter is not a word.

![image](https://user-images.githubusercontent.com/7478681/167408686-5d13db6e-eec7-44b2-a9f6-c6b6367ff5f4.png)

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Plea

[2022-05-09 12:25] NetanelBasal commented on #260
Sure, go ahead.

[2022-05-10 15:03] pumano opened #262 "Support gender for lastname / firstname generation"
### Description

Would love if we can use parameter with gender in `randLastName()` and `randFirstName()`:

[code]

### Proposed solution

We need to sort current first names / last names by gender in `json` file including option `withAccents` and then add parameter gender with `male | female` types.

@NetanelBasal how do you think about it?

### Alternatives considered

_No response_

### Do you

[2022-05-10 15:07] NetanelBasal commented on #262
It seems like a nice feature.

[2022-05-10 15:13] pumano commented on #262
@NetanelBasal OK I will try to prepare PR soon

[2022-05-10 15:21] theryansmee commented on #262
My only thought is that our genders in falso are not binary. See packages/falso/src/lib/gender.json

[2022-05-10 15:22] theryansmee commented on #262
Also, I'm not sure about in other cultures but I don't think last names are gendered?

[2022-05-10 20:21] pumano commented on #262
@NetanelBasal @theryansmee In some cases, it's relevant. Check out Ivanova, Ivanov and etc for last names.

[2022-05-10 20:34] NetanelBasal commented on #262
Yes, but I don't think it's a common use case.

[2022-05-10 20:47] pumano commented on #262
@NetanelBasal OK I will add option for pass gender to lastname, but in implementation for common usecase I do nothing with it, but in i18n case I process it as needed for case I need, OK?

[2022-05-10 20:48] NetanelBasal commented on #262
ok

[2022-05-11 10:54] #262 closed

[2022-05-11 13:00] #260 closed

[2022-05-13 04:33] #232 closed

[2022-05-20 13:35] shwarcu opened #266 "randAvatar returns always they same string"
### Is this a regression?

No

### Description

<img width="1723" alt="Screenshot 2022-05-20 at 15 33 59" src="https://user-images.githubusercontent.com/58426925/169539327-2910bf04-e2cd-49e4-acb1-a7d1eb580b38.png">

Avatar url is not generated randomly, it always returns the same url. Tested on
https://ngneat.github.io/falso/docs/person/#randavatar

### Please provide a link to a minimal reproduct

[2022-05-20 13:36] #266 closed

[2022-05-20 16:48] czlowiek488 opened #268 "JSdoc description of function should include a few examples of result"
### Description

JSdoc should include result examples for each example.
This would make finding correct method easier.

It could be fancy to fill examples automatically.
If you would like this feature I may implement it.

### Proposed solution

[code]
![image](https://user-images.githubusercontent.com/34620109/169574603-65109d9c-c219-4a41-96a7-9747643ec533.png)

### Alternatives considered

_No re

[2022-05-21 19:10] NetanelBasal commented on #268
You're welcome to submit a PR. You can start with POC that shows one example.

[2022-05-26 22:04] matt0089 opened #272 "Multiple phone numbers from `randPhoneNumber()`"
### Is this a regression?

No

### Description

When making multiple calls of `falso.randPhoneNumber()`, sometimes it returns multiple phone numbers

E.g.

[code]

It looks like just some simple typos forgetting quotes.  Here's an example:
https://github.com/ngneat/falso/blob/main/packages/falso/src/lib/phone-number.json#L120

I can make a PR soon if you want.

Thank you for this package, it's bee

[2022-05-27 06:33] NetanelBasal commented on #272
You're welcome to create a PR, thanks.

[2022-05-29 10:43] tahseenio commented on #272
I am able to work on this.

[2022-05-31 13:16] joealden opened #275 "`rand` Should Likely Support `readonly` Arrays/Tuples"
### Is this a regression?

No

### Description

Take the following example:

[code]

Typescript returns the following type error at the `rand` callsite:

I believe that this should be supported, as I don't think this library relies on the array being mutable.

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No respo

[2022-05-31 13:17] NetanelBasal commented on #275
@shaharkazaz is about to create a PR that solves this issue.

[2022-06-01 05:49] #275 closed

[2022-06-01 07:39] shaharkazaz opened #277 "Add incermentalDate function to factories"
### Description

A common use case in applications is showing an incremental date, for example, a time series chart. We proposed the following API:

## General API
[code]

## Example
[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-06-01 07:41] shaharkazaz opened #278 "Add randIncermentalNumber function"
### Description

A common use case in applications is showing an incremental number. We proposed the following API:

## General API
[code]

## Example
[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-06-02 15:55] #278 closed

[2022-06-03 10:40] #277 closed

[2022-06-27 15:32] NikPiermafrost opened #285 "randDomainName method returns hilarious values"
### Description

Given that it uses random words from lorem ipsum, i think it may have to be toned down a little bit:
![Capture](https://user-images.githubusercontent.com/59047765/175977355-ee1505ef-4e36-48d2-b8f5-32e7662e8d2d.PNG)

### Proposed solution

remove "cum" from [words.json](https://github.com/ngneat/falso/blob/main/packages/falso/src/lib/word.json)

### Alternatives considered

_No res

[2022-06-27 19:11] #285 closed

[2022-06-29 05:26] NetanelBasal opened #287 "Create falso.new on stackblitz"
### Description

Create a playground environment on stackblitz using the `falso.new` domain:

https://developer.stackblitz.com/docs/guide/open-from-github#set-up-the-main-starter-url

See [faker.js]([fakerjs.dev/new](https://fakerjs.dev/new)) example.

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-07-01 02:12] tbenade opened #289 "Possible random range issue for zero"
### Is this a regression?

No

### Description

I was expecting a result of 0 for
[code]
but it returns arbitrary integers. where as

[code]
would return `1`

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

[2022-07-01 06:37] NetanelBasal commented on #289
@shaharkazaz, please fix it as part of the other fix we discussed.

[2022-07-01 07:56] shaharkazaz opened #290 "randNumber auto detect fraction"
### Description

When using `randNumber` with `min` & `max` options, `randNumber` will auto-detect if a fraction is needed.
If the fraction option is passed the function will use that value.

### Example
[code]

### Proposed solution

_No response_

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-07-01 13:59] #289 closed

[2022-07-01 14:17] idoLumigo commented on #290
@shaharkazaz in case `randNumber({min: 0.10, max: 1})` produced 0.50, would you expect 0.5 or 0.50 ?

[2022-07-01 17:34] czlowiek488 opened #293 "Add npm and node version info to package json"
I don't know what versions of node or npm you are using.
It is a bit tricky to find out exact versions on my own.
I think it may be a good idea to add `engines` field to `package.json` file like in example below.
[code]

It may not been seen so important but in certain circumstances (unknown to me) rebase of package-lock with 2 different versions of npm spawns error.
I've spent many hours discover

[2022-07-01 18:55] czlowiek488 commented on #290
I don't think it is possible to implement and it also breaks single responsibility principle.

[2022-07-03 07:13] NetanelBasal commented on #293
v16.15.1
8.11.0

[2022-07-03 07:51] shaharkazaz commented on #290
@czlowiek488 Can you share what makes you think that's not possible to implement?

[2022-07-03 09:51] czlowiek488 commented on #290
It's because JavaScript doesn't recognize `1.0` as decimal.
It will not work in all cases.
Also I personally prefer to have one way of achieving something, it makes all users using the same approach and make codebase consistent. Also you don't need to create additional documentation.

[2022-07-03 10:10] shaharkazaz commented on #290
@czlowiek488 I agree that this might cause some confusion around this function. The benefits o in some cases doesn't worth the confusing API.

[2022-07-03 10:10] #290 closed

[2022-07-10 05:23] #293 closed

[2022-07-29 09:56] PumpedSardines opened #297 "Percentages that add up to 100% together"
### Description

A way to generate multiple percentages that together add up to 100%

For example, on GitHub you have a graph showing what percentage of your contributions to GitHub are issues, commits, PR and Code Review. These all add up to 100%.

### Proposed solution

[code]

### Alternatives considered

_No response_

### Do you want to create a pull request?

No

[2022-07-31 13:45] PumpedSardines commented on #297
Has been merged

[2022-07-31 13:45] #297 closed

[2022-08-04 23:50] vgjenks opened #299 "Control character length of individual random values"
### Description

Cannot control length of randomly-generated value, which causes database insert errors where field length matters.

### Proposed solution

If I want a randJobTitle() for example - it'd be nice if I could pass an option to limit the results by character length. I'm not talking about a simple substring, but rather, only return values that are of that length or less.

`randJobTitle({

[2022-08-06 17:29] vish-han commented on #287
I would love to work on this !! Please assign me😊😊 if u can.

[2022-08-08 20:40] ollebergkvist commented on #220
Any ETA for this feature to be implemented?

[2022-08-09 05:16] NetanelBasal commented on #220
It depends on @theryansmee :)

[2022-08-09 17:13] theryansmee commented on #220
Hi. Sorry, i've not looked at this in months. Last time I looked there was a butt load of merge conflicts with my PR and I haven't had any time to solve them. I will try and see if I can get them fixed this week so we can finally get this work in.

Sorry again for the radio silence

[2022-08-11 15:23] manudss opened #301 "Create a collection from a generator function"
add a new generators to generate collection from a generator function

Generate a collection from a custom generators functions

@category util

@example

toCollection(() => {
  return { data: randNumber(); }
})

@example

toCollection(() => {
  return { data: randNumber(); }
}, { length: 10 }) // default is no length.

It is a wrapper for the internal fake function.

### Discussed in https://gith

[2022-08-17 08:59] #301 closed

[2022-08-17 09:31] manudss opened #303 "Improve ToCollection function, in generate random collection length"
### Description

ToCollection can generate a length of collection in issue #301, It might be nice to have a generation of the number of items randomly. So you don't have a list of the same length all the time.

### Proposed solution

Add the options minLength and maxLength, if these options are defined, it will generate the length in a random way.

I propose to use the names of the options like mi

[2022-09-01 21:59] matt0089 commented on #272
Thank you guys!  Sorry I missed coming back to this

[2022-09-06 08:48] PumpedSardines opened #305 "fraction doesn't work on randAggregation"
### Is this a regression?

No

### Description

When passing in the argument `fraction` to the function `randAggregation` nothing changes

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]
On the docs page will not provide fractions
[code]

### Anything else?

_No response_

### Do you want to create a pull requ

[2022-09-14 09:34] PumpedSardines opened #306 "randChanceBoolean"
### Description

Currently we only have `randBoolean`, but sometimes you don't want there be 50% chance that the boolean will be true and a 50% chance that the boolean will be false. I therefore propose a function `randChanceBoolean` where you can specify the chance of the boolean being either true or false.

### Proposed solution

You would call the function like this `randChanceBoolean({ chanceT

[2022-09-14 09:40] PumpedSardines commented on #306
I'm aware that my example won't work since floating point numbers doesn't work in that way. It's just an example :^)

[2022-09-14 09:52] PumpedSardines commented on #303
Why isn't it enough to just pass randNumber to the length option?
[code]

[2022-09-18 19:40] theryansmee opened #307 "core/getRandomInRange accepts Min option greater than Max option"
### Is this a regression?

No

### Description

The following is currently valid:
[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

I would suggest throwing an error such as 'max must be greater than

[2022-10-19 09:32] Technologeek commented on #287
@NetanelBasal Think the progress on this is stalled. Can you assign it to me? I'll get it going.

[2022-10-19 09:33] NetanelBasal commented on #287
Sure

[2022-10-28 07:17] slioxo opened #313 "randUuid returns the same id multiple times with the length parameter"
### Is this a regression?

No

### Description

When using other methods like `randProductName` with the length parameter, they returns multiple different results. `randUuid` on the other hand will return the same UUID multiple times when the length parameter is supplied.

### Please provide a link to a minimal reproduction of the bug

https://gist.github.com/slioxo/6c7a6cf1731bf095d2046a903d3556f

[2022-10-31 16:48] ido-golan commented on #313
@slioxo Can you provide an example in Stackblitz ?
I can't reproduce this issue.
![Screenshot 2022-10-31 at 18 47 51](https://user-images.githubusercontent.com/84006997/199063175-34ec0301-a191-49fa-b55e-6f9c7014fd38.png)

[2022-11-01 07:44] slioxo commented on #313
Of course, here you go: https://stackblitz.com/edit/typescript-4qpwqp?file=index.ts

[2022-11-01 13:03] #313 closed

[2022-11-02 06:46] #307 closed

[2022-11-17 07:48] ChanhyukPark-Tech commented on #299
I would like to work on this issue !! if u can, can I do this?

[2022-11-17 07:55] NetanelBasal commented on #299
Sure

[2022-11-17 07:55] NetanelBasal commented on #299
But it's already have a PR - https://github.com/ngneat/falso/pull/316

[2022-11-17 08:08] ChanhyukPark-Tech commented on #299
Oh!
I thought only email can be sized because the example of email is written!
I misunderstood.
That's great!🚀